<h1>
    Books
    <%= user_signed_in? && policy(Book).new? ? link_to('New Book', books_new_path, class: "btn btn-primary") : '' %>
</h1>

<% @books.each do |book| %>
    <p> 
    <%= cl_image_tag book.cover.key, transformation: ["media_lib_thumb"], cloud_name: 'macreadiebri' %> 
    <%= link_to book.title, book %> by <%= book.author.full_name %> 
    </p>
<% end %>
